<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>

<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/socket.io/4.1.2/socket.io.js"></script>

<body>
<button id="connect">connect</button>

<button id="send">send</button>

<div id="log"></div>

<br/>

<button id="login">login</button>

<button id="get_friends">get friends</button>

<div id="friends_list"></div>
</body>

<script>
    var socket = io.connect('http://121.4.249.118:5000');
    var user_name = 'edlison'
    var msg = 'dhsuiahdsua'
    var room_id = '3993d26c-7388-4a79-b885-33f43d1b1329'


    $('#connect').click(function () {
        socket.emit('init event', {'room_id': room_id})
    })

    $('#send').click(function () {
        socket.emit('send event', {'user_name': user_name, 'msg': msg, 'room_id': room_id})
    })

    socket.on('receive event', function (data) {
        console.log(data)
        console.log(data.username, data.message, data.time)
        $('#log').append('<br>' + $('<div/>').text(data.message).html())
    })

    $('#login').click(function () {
        $.ajax({
            url: 'http://121.4.249.118:5000/api/user/login',
            method: 'POST',
            data: {
                'user_name': 'edlison',
                'user_password': '123123'
            },
            success: function (res) {
                console.log(res)
            }
        })
    })

    $('#get_friends').click(function () {
        $.ajax({
            url: 'http://121.4.249.118:5000/api/user/get_friends_all',
            method: 'POST',

            success: function (res) {
                console.log(res)
                showFriendsList(res.data)
            }
        })
    })

    function showFriendsList(friendsList) {
        var friendsTags = []
        for (var i = 0; i < friendsList.length; i++) {
            console.log(each.friend_tag)
            console.log(each)
            if (each.friend_tag in friendsTags) {
                continue
            } else {
                friendsTags.push(each.friend_tag)
            }
        }
        console.log(friendsTags)
    }
</script>
</html>